.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    aspect-ratio: 15/23;
    gap: 4px;
    justify-content: space-around;
    overflow: hidden;
    /* width: 14.8vw; */
    background: black;
    position: relative;
}

.main span{
    z-index: 999;
    color: white;
    position: absolute;
    background-color: black;
    font-size: 24px;
    display: none;
}
.main img{
    background: black;
    object-fit: contain;
    width: 100%;
    
}

