.main{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        flex-direction: column;
        background-color: gainsboro;
        list-style-type: none;

}

.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: black;
    flex-wrap: nowrap;

}

@media (min-width: 1024px) {
    .main{
        width: 100%;
    }

    .inputsContainer{
        display: flex;
        gap:45px;
        padding: 25px;
    }
    .inputContainer{
        display: flex;
        flex-direction: column;
    }
    .readContainer{
        border: 1px;
        width: 33%;
        background-color: #000; /* Fondo negro para el cuadro */
        border: 2px solid #fff; /* Borde blanco para destacar el cuadro */
        padding: 20px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra blanca */
        color: #fff; /* Texto blanco */
        text-align: center;
    }
    
    .genreFilter{
        font-size: 24px;
        color: black;
        background: darkgray;
    }
 
  }