.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    background-color: black;    
    flex: 2 1 0;
}

@media (min-width: 1024px) {
    .main {
        display: flex;
        flex-direction: row;
    }
}